body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom left, #080808, #181818, #282828, #383838);
    overflow-x: hidden;

    $barSize: 20%;
    $font: "Helvetica Neue", "Arial", sans-serif;

    .icon {
        color: inherit;
        font-family: $font;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-image: -webkit-linear-gradient(#00a5a1, lightblue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .bar {
        width: $barSize;
        height: 100%;
        left: 0;
        position: fixed;
        //background-color: black;
        //background-image: linear-gradient(#282828, #585858);
        background: -webkit-linear-gradient(#00a5a1, #155672);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 3.8vw;
        text-decoration: none;

        .barTitle {
            font-family: $font;
            font-size: 2vw;
            text-align: center;
            font-weight: bold;
        }

        .hoverBar {
            opacity: 0.85;
            transform: scale(1.2);
            background-image: linear-gradient(to bottom right, #00a5a1, white);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .container {
        margin-left: $barSize;
        width: calc(100vw - $barSize);
        //max-width: 100%;
        height: 100%;
        scroll-snap-type: y mandatory;
        overflow-x: hidden;
        border-left: 2px solid #686868;

        .card {
            max-height: 100vw;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .emailSend {
                margin-top: 20px;
            }
        }

        section {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            scroll-snap-align: start;
            font-family: $font;

            .text {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 5%;
                margin-right: 5%;
                width: 100%;
                color: #999999;
            }

            .hoverLinks {
                border: 1px solid black;
                border-radius: 20px;
                opacity: 0.85;
                transform: scale(1.1);
            }

            .links {
                display: flex;
                flex-direction: row;
                font-size: 4vw;
                margin-top: 2%;
                margin-bottom: 2%;
                color: aquamarine;

                .link-spacing {
                    display: flex;
                    height: 100px;
                    width: 100px;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                }

                .bordered-link {
                    padding: 2%;
                    border: 20px;
                }
            }

            .mobileDocs {
                justify-content: center;
            }
            
            .documents {
                width: 100%;
                height: 15%;
                display: flex;
                flex-direction: row;
                font-size: 2vw;
                justify-content: space-evenly;
                align-items: center;

                .bordered-doc {
                    background-color: #181818;
                    padding: 1.5%;
                    border-radius: 20px;
                }
            
                .doc-spacing {
                    width: 60%;
                    font-size: 3.5vw;
                    background-color: #181818;
                    border-radius: 20px;
                }

                h6 {
                    font-size: 1.2vw;
                    width: 10%;
                    //padding-right: 5%;
                    //padding-left: 5%;
                    color: #999999;
                    margin: 0
                }

                .gitCard {
                    transform: scale(0.7);
                }

                .gitSmallCard {
                    transform: scale(0.4);
                }
            }

            &:nth-of-type(1) {
                //background-color: #282828;
                background-image: linear-gradient(to bottom right, #00a5a1, #0D3648);
                color: #282828;
            }

            &:nth-of-type(2) {
                background-color: #282828;
                color: #00a5a1;
            }

            &:nth-of-type(3) {
                background-color: #363636;
                color: #00a5a1;
            }

            &:nth-of-type(4) {
                background-color: #282828;
                color: #00a5a1;
            }

            &:nth-of-type(5) {
                background-color: #363636;
                color: #00a5a1;
            }

            h1 {
                font-family: $font;
                font-size: 12vw;
                text-align: center;
                color: #181818;
                margin-top: 5%;
                margin-bottom: 5%;
            }

            h2 {
                font-family: $font;
                font-size: 3.1vw;
                margin-top: 3%;
                margin-bottom: 3%;
            }

            h5 {
                font-family: $font;
                font-size: 1.5vw;
                width: 25%;
            }

            h6 {
                font-family: $font;
                font-size: 1.2vw;
                width: 20%;
            }

            p {
                font-family: $font;
                font-size: 1.2vw;
                width: 40%
            }

            hr {
                width: 100%;
                height: 0.2%;
                background-color: lightslategray;
                color: lightslategray;
                border: 0px solid white;
            }
        }
    }
}