@font-face {
    font-family: "Space Grotesk";
    src: url(../font/spacegrotesk/SpaceGrotesk[wght].ttf) format("truetype");
}

@font-face {
    font-family: "Space Grotesk";
    src: url(../font/redhat/RedHatText-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url(../font/IBM_Plex_Mono/IBMPlexMono-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "SF Pro";
    src: url(../font/SFpro/SFPRODISPLAYREGULAR.OTF) format("opentype");
}

@font-face {
    font-family: "SF Mono";
    src: url(../font/SFmono/SFMonoRegular.otf) format("opentype");
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    //background: linear-gradient(to bottom left, #080808, #181818, #282828, #383838);
    overflow-x: hidden;

    $accentColour: #118C4F;
    $barSize: 20%;
    $font: "SF Mono",
    sans-serif; //"Space Grotesk", sans-serif; //"Helvetica Neue", "Arial", sans-serif;

    hr {
        width: 100%;
        height: 0.1%;
        background-color: black;
        color: black;
        border: none;
    }

    .icon {
        color: inherit;
        font-family: $font;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        //background-image: -webkit-linear-gradient(white, lightslategrey);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .bar {
        width: $barSize;
        height: 100%;
        left: 0;
        position: fixed;
        background-color: black;
        color: white;
        //background-image: linear-gradient(#282828, #585858);
        //background: -webkit-linear-gradient(#00a5a1, #155672);
        //-webkit-background-clip: text;
        //-webkit-text-fill-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 3.8vw;
        text-decoration: none;

        .barTitle {
            font-family: $font;
            font-size: 2vw;
            text-align: center;
            font-weight: bold;
        }

        .iconColour {
            background-color: white;
        }

        .hoverBar {
            opacity: 0.85;
            transform: scale(1.1);
            background-color: $accentColour;
            //background-image: linear-gradient(to bottom right, #8ae234, white);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .container {
        margin-left: $barSize;
        width: calc(100vw - $barSize);
        //max-width: 100%;
        height: 100%;
        scroll-snap-type: y mandatory;
        overflow-x: hidden;

        .card {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .projs {
                width: 100%;
                height: 7vw;
                display: flex;
                flex-direction: row;
                font-size: 2vw;
                justify-content: space-evenly;
                align-items: center;

                h6 {
                    font-size: 1vw;
                    width: 10%;
                    //padding-right: 5%;
                    //padding-left: 5%;
                    color: black;
                }

                .gitCard {
                    //transform: scale(0.75);
                    width: 21%;
                    border: 0.1vw solid black;

                    img {
                        width: 100%;
                    }
                }

                .gitHover {
                    transform: scale(1.05);
                    opacity: 0.9;
                }

                .gitSmallCard {
                    width: 30%;

                    img {
                        width: 100%;
                    }
                }
            }
        }

        section {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            scroll-snap-align: start;
            font-family: $font;

            .text {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                color: black;
            }

            .hoverLinks {
                border: 1px solid black;
                //border-radius: 20px;
                opacity: 0.85;
                transform: scale(1.1);
            }

            .links {
                display: flex;
                flex-direction: row;
                font-size: 4vw;
                width: 100%;
                //color: aquamarine;
                justify-content: center;

                .link-spacing {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    height: 10vh;
                    width: 6vw;
                }

                .bordered-link {
                    border: 20px;
                    background-color: $accentColour;
                }
            }

            .mobileDocs {
                justify-content: center;
            }

            .emailSend {

                form {
                    font-size: 1.2vw;
                    display: flex;
                    flex-direction: column;
                    font-family: $font;
                    font-weight: bold;

                    input {
                        width: 30vw;
                        height: 4vh;
                        font-size: 1.2vw;
                        font-family: $font;
                        border: 0.1vw solid black;
                        background-color: white;
                        color: black;
                    }

                    textarea {
                        width: 30vw;
                        height: 16vh;
                        font-size: 1.2vw;
                        text-align: left;
                        font-family: $font;
                        border: 0.1vw solid black;
                        background-color: white;
                        color: black;
                    }

                    button {
                        align-items: center;
                        justify-content: center;
                        background-color: black;
                        color: white;
                        font-size: 2vw;
                        font-family: $font;
                        font-weight: bold;
                        border: none;
                    }

                    .hoverButton {
                        transform: scale(1.1);
                        opacity: 0.9;
                    }
                }
            }

            .documents {
                width: 100%;
                height: 20%;
                display: flex;
                flex-direction: column;
                font-size: 2vw;
                justify-content: space-between;
                align-items: center;

                .bordered-doc {
                    background-color: white;
                }

                .doc-spacing {
                    width: 35%;
                    height: 40%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    font-size: 2.9vw;
                    background-color: black;
                    //border-radius: 1.5vw;
                }
            }

            &:nth-of-type(1) {
                background-color: white;
                //background-image: linear-gradient(to bottom right, #00a5a1, #0D3648);
                color: black;

                .documents, .links, .text {
                    opacity: 0;
                    transform: translateY(3rem);
                    animation: fadeInUp 2s ease 5s forwards;
                }
            }

            &:nth-of-type(2) {
                background-color: white;
                color: black;
            }

            &:nth-of-type(3) {
                background-color: white;
                color: black;
            }

            &:nth-of-type(4) {
                background-color: white;
                color: black;
            }

            &:nth-of-type(5) {
                background-color: white;
                color: black;
            }

            h1 {
                font-family: $font;
                font-size: 8vw;
                text-align: center;
                color: #181818;
                margin-top: 5%;
                margin-bottom: 5%;
                position: relative;
            }

            h1::before,
            h1::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }

            h1::before {
                background: white;
                animation: typewriter 4s steps(12) 1s forwards;
            }

            h1::after {
                width: 0.1em;
                background: black;
                animation: 
                    typewriter 4s steps(12) 1s forwards,
                    blink 1s steps(12) infinite,
                    disappear 1s steps(1) 5s forwards;
            }

            @keyframes typewriter {
                to {
                    left: 100%;
                }
            }

            @keyframes blink {
                to {
                    background: transparent;
                }
            }

            @keyframes disappear {
                to {
                    width: 0em;
                }
            }

            @keyframes fadeInUp {
                to {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            h2 {
                font-family: $font;
                font-size: 3vw;
                margin-top: 3%;
                margin-bottom: 3%;
            }

            h5 {
                font-family: $font;
                font-size: 1.1vw;
                width: 25%;
            }

            h6 {
                font-family: $font;
                font-size: 1vw;
                width: 20%;
            }

            p {
                font-family: $font;
                font-size: 1vw;
                width: 40%
            }
        }
    }
}